@use 'base/variables' as v;
@use 'base/mixins' as m;

//ESTILOS DE LOS MODALES

.modals{
    position: absolute;
    background-color: rgb(0 0 0 / .8);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;

    .formulario{
        max-width: 50rem;
        @include m.fondoDegradado(v.$grisOscuro);
        margin: 0px auto;
        transform: translateY(-30%);
        transition-property: all;
        transition-duration: 800ms;
        opacity: 0;
        
        h3{
            font-size: 3rem;
            text-transform: uppercase;
            font-weight: 700;
            letter-spacing: 1px;
        }

     
        .campo{
            margin-bottom: 2rem;

            label{
                flex: 0 0 10rem;
                font-size: 2rem;
                margin-left: 1rem;

                @include m.tablet {
                    font-size: 1.8rem;
                }
            }

            input{
                margin-right: 1rem;
            }
        }

        .octets{
            width: 100%;
            @include m.grid(4, 1rem);

            .octet{
                width: 100%;
            }
        }

        .opciones{
            display: flex;
            justify-content: space-between;

            .btn-submit,
            .btn-cerrar{
                margin-right: 1rem;
                margin-left: 1rem;
            }

            .btn-submit{
                @include m.colorBoton(v.$azul, v.$blanco);
            }

            .btn-cerrar{
                @include m.colorBoton(v.$rojo, v.$blanco);
            }
        }

        &.animar,
        &.animarA{
            position: relative;
            transform: translateY(-70%);//50% del tamaño del modal y lo sube ese 50%
            opacity: 1;
        }

        &.animar{
            top: 50%;
        }
        &.animarA{
            top: 68%;
        }

        &.cerrar{
            transform: translateY(50%);
            opacity: 0;
        }
    }

    .wait-contenido{

        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;

        .wait{
            margin: 0px auto;
            min-width: 10rem;
            min-height: 10rem;
        }
    }
    
}
