@use 'base/variables' as v;

/** Media Queries **/
@mixin telefono {
    @media (min-width: v.$telefono) {
        @content;
    }
}
@mixin tablet {
    @media (min-width: v.$tablet) {
        @content;
    }
}
@mixin desktop {
    @media (min-width: v.$desktop) {
        @content;
    }
}

@mixin colorBoton($bgColor, $colorTexto) {
    background-color: $bgColor;
    color: $colorTexto;
    font-family: v.$fuente_headings;
    transition-property: background-color;
    transition-duration: .3s;
    &:hover {
        background-color: darken( $bgColor, 10% );
        cursor: pointer;
    }
}

@mixin grid($columnas, $espaciado ) {
    display: grid;
    gap: $espaciado;
    grid-template-columns: repeat($columnas, 1fr);
}

@mixin textoDegradado($color){
    background: linear-gradient(to left, $color 0%, darken($color, 60%) 100%); //degradado
    color: transparent; //desaparece el text
    background-clip: text; //agrega el degradado al texto
}

@mixin fondoDegradado($color){
    background: linear-gradient(to right, $color 0%, lighten($color, 40%) 100%); //degradado
    background-clip: content-box; //agrega el degradado al texto
}

@mixin fondoDegradadoOscuro($color){
    background: linear-gradient(to right, $color 0%, darken($color, 40%) 100%); //degradado
    background-clip: content-box; //agrega el degradado al texto
}

@mixin scroll($color1, $color2){
    /* ESTILOS DEL SCROLL */
    &::-webkit-scrollbar{
        width: 1rem;     /* Tamaño del scroll en vertical */
        height: 1rem;    /* Tamaño del scroll en horizontal */
    }
    &::-webkit-scrollbar-thumb {
        background: $color1;
        border-radius: 4px;
    }
    &::-webkit-scrollbar-thumb:hover {
        background: $color2;
        box-shadow: $color2;
    }
}