// Fuentes
$fuente_headings: 'Teko', sans-serif;
$fuente_textos: 'Inconsolata', monospace;

// Tamaño de Media Queries
$telefono: 480px; //480px - 767px
$tablet: 768px; //768px - 1023px
$desktop: 1024px; //1024px - 

// Colores
$cyan: #476DB2;
$azulClaro: #25deeb;
$azul: #2563EB;  
$azulFuerte: #034780;
$morado: #7C3AED;
$naranja:#F59E0B;
$rosa: #DB2777;

$blanco: #FFFFFF;
$gris: #6b7280;
$grisOscuro: #525558;
$grison: #b1acac;
$grisClaro: #f3f4f6;
$grisNegro: #3b3e3f;
$negroMate: #212529;
$negroClaro: #1d1d1d;
$negro: #000;

$rojo: rgb(169, 0, 0);
$verdeClaro: rgb(87, 236, 18);
$verde: rgb(0, 120, 0);
$verdeBootstrap: #198754;
$amarillo: rgb(209, 189, 9);

$separacion: 5rem;