@use 'base/variables' as v;
@use 'base/mixins' as m;

//ESTILOS EN LA PAGINA DE DASHBOARD

.dashboard{

    @include m.tablet {
        display: flex;
        height: 100vh;
    }

    .principal{
        flex: 1;
        @include m.scroll(v.$negroClaro, v.$grisOscuro);
        overflow: scroll;
    }

    .contenido{
        padding: 2rem;
        @include m.tablet {
            padding: 8rem;
        }

        .nombre-pagina{
            font-size: 5rem;
            margin-top: .5rem;
            text-align: center;
            letter-spacing: 1px;
            font-weight: 900;
        }

        .nombre-ip{
            color: v.$naranja;
            text-align: center;
            font-size: 2.5rem;
            margin: 0;
            font-weight: none;
            letter-spacing: 3px;
        }

        .contenedor-agregar{
            display: flex;
            justify-content: center;

            .agregar{
                @include m.colorBoton(v.$azul, v.$blanco);
                letter-spacing: 1px;
            }
        }
    }

}